<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHnTaB4xowx_c-XFoaMdbLg0A4xTujGbU</string>
	<key>GCM_SENDER_ID</key>
	<string>239775755533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterLearnBipul</string>
	<key>PROJECT_ID</key>
	<string>edugaon-tech</string>
	<key>STORAGE_BUCKET</key>
	<string>edugaon-tech.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239775755533:ios:751320a2d6134b0aea1444</string>
	<key>DATABASE_URL</key>
	<string>https://edugaon-tech-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>